@page "/"

@inherits BlazorFourInARow.Pages.Game.GameBase

<GameBoard GameCells="@GameState?.GameCells" GameId="@GameState?.GameId" Team="@Team"/>

@if (null != @Team)
{
    <h1>@Team.DisplayColor Team</h1>
}

<p>@GameState?.DebugMessage</p>