<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="">Blazor Four In A Row</a>
    @*<button class="navbar-toggler" type="button" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse @(collapseNavMenu ? "show" : null)" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto w-100">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                    <span class="oi oi-home mx-1" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="history">
                    <span class="oi oi-layers mx-1" aria-hidden="true"></span> Game History
                </NavLink>
            </li>
            <li class="nav-item px-3 ml-md-auto">
                <NavLink class="nav-item nav-link ml-auto" href="statistics">
                    <span class="oi oi-person mx-1" aria-hidden="true"></span> @CurrentUser?.DisplayName
                </NavLink>
            </li>
        </ul>
    </div>*@
</nav>

@functions {
    bool collapseNavMenu = false;

    [Parameter]
    User CurrentUser { get; set; }

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}