@using BlazorFourInARow.BusinessLogic

@inherits Microsoft.AspNetCore.Blazor.Layouts.BlazorLayoutComponent

@inject IUserConnectionInfoStore UserConnectionInfoStore

@inject ApplicationReseter ApplicationReseter

<HeaderNavigation CurrentUser="@UserConnectionInfo?.User" />

<div class="main content px-4 pt-1">
    @if (null != UserConnectionInfo)
    {
        @Body
    }
    else
    {
        <UserRegistration />
    }

    <div class="temp application-reseter mt-5">
        <!--//TODO: Don't forget to remove the javascript from index.html when you remove this!!!-->
        <button class="btn btn-danger mt-5" onclick="@ApplicationReseter.ResetApplication">Reset Application / Wipe Database</button>
    </div>
</div>

@functions {
public UserConnectionInfo UserConnectionInfo = null;

protected void SetUserConnectionInfo(UserConnectionInfo userConnectionInfo)
{
    UserConnectionInfo = userConnectionInfo;
    StateHasChanged();
}

protected override async Task OnInitAsync()
{
    //TODO: UserConnectionInfo can expire.  Cached SignalR connections need to be able to refresh without registering a new user
    SetUserConnectionInfo(await UserConnectionInfoStore.GetUserConnectionInfoAsync());

    UserConnectionInfoStore.UserConnectionInfoChanged += SetUserConnectionInfo;
}
}