@using BlazorFourInARow.BusinessLogic
@using BlazorFourInARow.Common.Models
@inherits Microsoft.AspNetCore.Blazor.Layouts.BlazorLayoutComponent

@inject IUserConnectionInfoStore UserConnectionInfoStore

<HeaderNavigation CurrentUser="@UserConnectionInfo?.User"/>

<div class="main content px-4 pt-1">
    @if (null != UserConnectionInfo)
    {
        @Body
    }
    else
    {
        <UserRegistration />
    }
</div>

@functions {
    public UserConnectionInfo UserConnectionInfo = null;

    protected void SetUserConnectionInfo(UserConnectionInfo userConnectionInfo)
    {
        UserConnectionInfo = userConnectionInfo;
        StateHasChanged();
    }

    protected override async Task OnInitAsync()
    {
        SetUserConnectionInfo(await UserConnectionInfoStore.GetUserConnectionInfo());

        UserConnectionInfoStore.UserConnectionInfoChanged += SetUserConnectionInfo;
    }
}