html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.main {
  max-width: 720px !important; }

.game-board {
  border: 25px solid transparent;
  border-image: url(/images/frame-border.png) 33% repeat;
  image-rendering: auto;
  image-rendering: pixelated;
  margin: 5.5rem 0 2rem; }
  @media screen and (min-width: 500px) {
    .game-board {
      border: 50px solid transparent;
      border-image: url(/images/frame-border.png) 33% repeat; } }
  .game-board .buttons {
    top: -5rem; }
    .game-board .buttons li {
      flex-shrink: 1;
      overflow: hidden;
      word-break: break-all; }
    .game-board .buttons .drop-icon {
      display: block;
      width: 0.75rem;
      height: 1.5rem;
      background-size: 0.75rem;
      background-repeat: no-repeat;
      position: relative; }
      .game-board .buttons .drop-icon:after {
        display: block;
        content: "";
        position: relative;
        top: 1rem;
        width: 0;
        height: 0;
        border-left: 0.375rem solid transparent;
        border-right: 0.375rem solid transparent;
        border-top: 0.375rem solid black;
        margin: 0 auto; }
      @media screen and (min-width: 500px) {
        .game-board .buttons .drop-icon {
          width: 1rem;
          height: 2rem;
          background-size: 1rem; }
          .game-board .buttons .drop-icon:after {
            top: 1.5rem; } }
      .game-board .buttons .drop-icon.Green {
        background-image: url(/images/green-game-piece.png); }
      .game-board .buttons .drop-icon.Blue {
        background-image: url(/images/blue-game-piece.png); }
  .game-board li {
    margin: auto; }
    .game-board li.cell {
      background-image: url(/images/game-cell.png);
      background-size: contain;
      height: auto;
      flex: 1 0 auto;
      image-rendering: pixelated;
      display: flex;
      position: relative; }
      .game-board li.cell:before {
        content: '';
        float: left;
        padding-top: 100%; }
    .game-board li .game-piece {
      width: 100%;
      display: block;
      background-size: contain;
      image-rendering: pixelated;
      z-index: -1;
      position: relative;
      top: -50vh;
      transition: top ease-in 0.5s;
      transform: translateZ(0); }
      .game-board li .game-piece.Red {
        background-image: url(/images/red-game-piece.png);
        top: 0; }
      .game-board li .game-piece.Black {
        background-image: url(/images/black-game-piece.png);
        top: 0; }
      .game-board li .game-piece.Green {
        background-image: url(/images/green-game-piece.png);
        top: 0; }
      .game-board li .game-piece.Blue {
        background-image: url(/images/blue-game-piece.png);
        top: 0; }
